images/
thumbnails/
jupyter/
graphml/
person_to_files/
dist/
.cursor/
node_faces/
node_faces_top5/
node_faces__automatic/
node_faces__without_background/
clustering_debug/

scripts/map_person_ids/*
!scripts/map_person_ids/*.py

**/__pycache__
*.db
*.csv#
*.graphml
*.md
!README.md
*.db-journal
*.ods

epstein_face.png
